<div class="container">
  <div style="text-align: center; margin: 5%">
    <h1>Registro de Usuarios-Premio</h1>
  </div>

  <div style="text-align: center; margin: 5%">
    <form [formGroup]="form" (submit)="aceptar()">

      <!-- Campo ID (solo si edita) -->
      <mat-form-field *ngIf="edicion" appearance="fill">
        <mat-label>🆔 ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          ¡El código es obligatorio para actualizar!
        </mat-error>
      </mat-form-field>

      <!-- Selector de Premio -->
      <mat-form-field appearance="fill">
        <mat-label>🎁 Premios</mat-label>
        <mat-select formControlName="premio">
          @for (food of listaPremios; track food) {
            <mat-option [value]="food.id">{{ food.nombrePrem }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('premio')?.hasError('required')">
          ¡El premio es obligatorio!
        </mat-error>
      </mat-form-field>

      <!-- Selector de Usuario -->
      <mat-form-field appearance="fill">
        <mat-label>👤 Usuarios</mat-label>
        <mat-select formControlName="usuario">
          @for (food of listaUsuarios; track food) {
            <mat-option [value]="food.idUsuario">{{ food.username }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          ¡El usuario es obligatorio!
        </mat-error>
      </mat-form-field>

      <!-- Botón -->
      <button matButton="filled">💾 Registrar</button>
    </form>
  </div>
</div>
