<div class="chat-container">
  <h2>💬 Chat de Asesoría # {{ idAsesoria }}</h2>
  <h2>📘 Nombre de Asesoría: {{ nameAsesoria }}</h2>

  <!-- Zona de mensajes -->
  <div #mensajesContainer class="mensajes">
    <div *ngFor="let mensaje of mensajes" class="mensaje">
      <strong>{{ mensaje.usuario.username }}:</strong>
      <span>{{ mensaje.contenido }}</span>
      <div class="fecha">🕒 {{ mensaje.fechaMensaje | date: 'short' }}</div>
    </div>
  </div>

  <!-- Archivos compartidos -->
  <div class="archivos-chat" *ngIf="archivos.length > 0">
    <h3>📎 Archivos compartidos:</h3>
    <ul>
      <li *ngFor="let archivo of archivos">
        <mat-icon>attach_file</mat-icon>
        {{ archivo.nombreArchivo }} (Subido por: {{archivo.usuario.username}})
      </li>
    </ul>
  </div>

  <!-- Enviar nuevo mensaje -->
  <div class="nuevo-mensaje">
    <input
      type="text"
      [(ngModel)]="contenidoNuevo"
      placeholder="✏️ Escribe tu mensaje..."
      (keydown.enter)="enviarMensaje()"
    />
    <button mat-raised-button color="primary" (click)="enviarMensaje()" [disabled]="contenidoNuevo.length===0">
      🚀 Enviar
    </button>
  </div>

  <!-- Subida de archivo -->
  <div class="archivos">
    <h3>📤 Subir archivo</h3>
    <input type="file" (change)="onFileSelected($event)" />
    <button mat-raised-button color="accent" (click)="subirArchivo()" [disabled]="!selectedFile">
      ⬆️ Subir
    </button>
  </div>
</div>
