<div class="container">
  <div style="text-align: center; margin:5%"><h1>🧩 Registro de Asesorías</h1></div>
  <div style="text-align: center; margin:5%">
    <form [formGroup]="form" (submit)="aceptar()">
      
      <mat-form-field *ngIf="edicion">
        <mat-label>🆔 ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio para actualizar!!
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>📘 Nombre de la Asesoría</mat-label>
        <input matInput formControlName="nombreAsesoria" />
        <mat-error *ngIf="form.get('nombreAsesoria')?.hasError('required')">
          El nombre de la asesoría es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br>

      <mat-form-field>
        <mat-label>📅 Fecha</mat-label>
        <input matInput formControlName="fechaAsesoria" />
        <mat-error *ngIf="form.get('fechaAsesoria')?.hasError('required')">
          La fecha es obligatoria!!
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>👶 Usuario Inferior</mat-label>
        <mat-select formControlName="usuarioInferior">
          @for (food of listaUsuariosInferior; track food) {
            <mat-option [value]="food.idUsuario">{{ food.username }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('usuarioInferior')?.hasError('required')">
          El usuario de ciclo inferior es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br />

      <mat-form-field>
        <mat-label>🎓 Usuario Superior</mat-label>
        <mat-select formControlName="usuarioSuperior">
          @for (food of listaUsuariosInferior; track food) {
            <mat-option [value]="food.idUsuario">{{ food.username }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('usuarioSuperior')?.hasError('required')">
          El usuario de ciclo superior es obligatorio!!
        </mat-error>
      </mat-form-field>

      <br>

      <button matButton="filled">📥 Registrar</button>
    </form>
  </div>
</div>
