<div class="container">
  <div style="text-align: center; margin:5%">
    <h1>📝 Registro de Valoraciones</h1>
  </div>

  <div style="text-align: center; margin:5%">
    <form [formGroup]="form" (submit)="aceptar()">
      <!-- ID (solo si estás editando) -->
      <mat-form-field *ngIf="edicion">
        <mat-label>🆔 ID</mat-label>
        <input matInput formControlName="codigo" />
        <mat-error *ngIf="form.get('codigo')?.hasError('required')">
          El código es obligatorio para actualizar‼️
        </mat-error>
      </mat-form-field>

      <!-- Calificación -->
      <mat-form-field>
        <mat-label>⭐ Calificación</mat-label>
        <input matInput formControlName="calificacion" />
        <mat-error *ngIf="form.get('calificacion')?.hasError('required')">
          La calificación es obligatoria ❗
        </mat-error>
      </mat-form-field>

      <!-- Asesoría -->
      <mat-form-field>
        <mat-label>🎓 Asesoría</mat-label>
        <mat-select formControlName="asesoria">
          @for (food of listaAsesorias; track food) {
            <mat-option [value]="food.idAsesoria">{{ food.nombreAsesoria }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('asesoria')?.hasError('required')">
          La asesoría es obligatoria 📘
        </mat-error>
      </mat-form-field>

      <!-- Usuario -->
      <mat-form-field>
        <mat-label>👤 Usuario</mat-label>
        <mat-select formControlName="usuario">
          @for (food of listaUsuarios; track food) {
            <mat-option [value]="food.idUsuario">{{ food.username }}</mat-option>
          }
        </mat-select>
        <mat-error *ngIf="form.get('usuario')?.hasError('required')">
          El usuario es obligatorio 🙋‍♀️
        </mat-error>
      </mat-form-field>

      <!-- Botón -->
      <button matButton="filled">✅ Registrar</button>
    </form>
  </div>
</div>
